h1 {
  font-family: "Futurist-Fixed-width";
  color: #F3F0ED;
  font-size: 2em; }

h2 {
  font-family: "Futurist-Fixed-width";
  color: #4B4B4B;
  font-size: 1.6em; }

h3 {
  font-family: "Futurist-Fixed-width";
  color: #4B4B4B;
  font-size: 1.5em; }

h4 {
  font-family: "Futurist-Fixed-width";
  color: #4B4B4B;
  font-size: 1.5em; }

body {
  font-family: "Helvetica-Neue-LT";
  color: #4B4B4B;
  font-size: 1em; }

time {
  font-family: "Futura";
  color: #4B4B4B;
  font-size: 1em; }

em {
  font-family: "Adobe-Garamond-Pro-Bold";
  color: #4B4B4B;
  font-size: 1em; }

i {
  font-family: "Adobe-Garamond-Pro-Italic";
  color: #4B4B4B;
  font-size: 1em; }

nav a {
  font-family: "Helvetica-Neue-LT";
  color: #F3F0ED;
  font-size: 1.2em; }

@font-face {
  font-family: "Futurist-Fixed-width";
  src: url("../../fonts/FUTRFW.woff") format("woff"); }

@font-face {
  font-family: "Helvetica-Neue-LT";
  src: url("../../fonts/HelveticaNeueLTStd Lt.woff") format("woff"); }

@font-face {
  font-family: "Adobe-Garamond-Pro-Bold";
  src: url("../../fonts/AGaramondPro-Bold.woff") format("woff"); }

@font-face {
  font-family: "Adobe-Garamond-Pro-Italic";
  src: url("../../fonts/AGaramondPro-Italic.woff") format("woff"); }

body {
  background: url("../images/background.jpg") center/cover fixed; }

nav {
  text-shadow: 2px 2px #000;
  background-color: #252525; }

footer {
  text-shadow: 2px 2px #000;
  background-color: #252525; }

button {
  color: #F3F0ED; }

.active {
  background-color: #4B4B4B; }

a:hover {
  color: #D8D8D8; }

.carousel-caption-text {
  color: #F3F0ED;
  text-shadow: 2px 2px #000; }

.carousel-indicators li {
  -webkit-box-shadow: 2px 2px #000;
          box-shadow: 2px 2px #000; }

.featuresCarousel img {
  margin: 25px auto 25px auto; }

.carousel-item {
  background-color: #252525; }

.features {
  background-color: #252525;
  padding: 25px; }

.border {
  border: 1px solid blue; }
