
@import 'vars/vars';
@import 'mixins/mixins';
@import 'typography/typography';
@import 'placeholders/placeholders';


@include font-face("Futurist-Fixed-width", "../../fonts/FUTRFW" , null, null, woff);
@include font-face("Helvetica-Neue-LT", "../../fonts/HelveticaNeueLTStd Lt", null, null, woff);
@include font-face("Adobe-Garamond-Pro-Bold", "../../fonts/AGaramondPro-Bold", null, null, woff);
@include font-face("Adobe-Garamond-Pro-Italic", "../../fonts/AGaramondPro-Italic", null, null, woff);


body{
  background: url("../images/background.jpg") center / cover fixed;
}


nav{
  text-shadow: 2px 2px #000;
  background-color: $navBg;
}

footer{

  text-shadow: 2px 2px #000;
  background-color: $footerBg;
  color: $darkBgContentFontColor;

  & ul{
    list-style: none;
  }

}

button{
  color: $navLinkFontColor;
}

.active{
  background-color: $navActiveBg;
}

a{

  &:hover{
    color: #D8D8D8;
  }
}

.carousel-caption-text{
  color: $jumbotronFontColor;
  text-shadow: 2px 2px #000;
}

.carousel-indicators li{
  box-shadow: 2px 2px #000;
}

.featuresCarousel {

  & img{
    margin: 25px auto 25px auto;
  }
}

.carousel-item{
  background-color: $featuresBg;
}


.features{
  background-color: $featuresBg;

  padding: 25px;
}

.border{
  border: 1px solid blue;
}

.popover{
  color: $darkBgContentFontColor;
  background-color: #000000;

}

.newsContent{
  background-color: $lightContentBgColor;
  color: $lightBgContentFontColor;
}

.darkBg{
  background-color: $darkContentBgColor;
}

.big{
  line-height: 1.6em;
}

#mission-statement-row{
  background: url("../images/missionstatementbg.png") center / cover no-repeat;
  min-height: 400px;

  color: $darkBgContentFontColor;
  text-shadow: 2px 2px #000;

  h2{
    color: $darkBgContentFontColor;
  }
}

#upcoming-projects-row {
  background: url("../images/projectsbg.png") center / cover no-repeat;
  min-height: 400px;

  color: $darkBgContentFontColor;
  text-shadow: 2px 2px #000;

  h2 , h4{
    color: $darkBgContentFontColor;
  }

  h4{
    font-family: $contentFont;
  }

}

#contributors-row {
  background: url("../images/contributorsbg.png") center / cover no-repeat;
  min-height: 400px;

  color: $darkBgContentFontColor;
  text-shadow: 2px 2px #000;

  h2 , h4{
    color: $darkBgContentFontColor;
  }

}

.box{
  height: 150px;
  overflow: hidden;
  h4{
    font-size: $contentFontSize;
    color: $darkBgContentFontColor;
  }

  .caption{
    width: 150px;
    display: none;
    background-color: $gamesCaptionBgColor;
  }

  .captionSmall{
    position: relative;
    width: 150px;
    bottom: 45px;
    z-index: 5;

  }

  &:hover{
    .caption{
      position: relative;
      bottom: 20px;
    }

  }
}


