
@import 'vars/vars';
@import 'mixins/mixins';
@import 'typography/typography';
@import 'placeholders/placeholders';


@include font-face("Futurist-Fixed-width", "../../fonts/FUTRFW" , null, null, woff);
@include font-face("Helvetica-Neue-LT", "../../fonts/HelveticaNeueLTStd Lt", null, null, woff);
@include font-face("Adobe-Garamond-Pro-Bold", "../../fonts/AGaramondPro-Bold", null, null, woff);
@include font-face("Adobe-Garamond-Pro-Italic", "../../fonts/AGaramondPro-Italic", null, null, woff);


body{
  background: url("../images/background.jpg") center / cover fixed;
}


nav{
  text-shadow: 2px 2px #000;
  background-color: $navBg;
}

footer{

  text-shadow: 2px 2px #000;
  background-color: $footerBg;

}

button{
  color: $navLinkFontColor;
}

.active{
  background-color: $navActiveBg;
}

a{

  &:hover{
    color: #D8D8D8;
  }
}

.carousel-caption-text{
  color: $jumbotronFontColor;
  text-shadow: 2px 2px #000;
}

.carousel-indicators li{
  box-shadow: 2px 2px #000;
}

.featuresCarousel {

  & img{
    margin: 25px auto 25px auto;
  }
}

.carousel-item{
  background-color: $featuresBg;
}


.features{
  background-color: $featuresBg;

  padding: 25px;
}

.border{
  border: 1px solid blue;
}

.popover{
  color: $darkBgContentFontColor;
  background-color: #000000;

}

.newsContent{
  background-color: $lightContentBgColor;
  color: $lightBgContentFontColor;
}