

$headerFont: 'Futurist-Fixed-width';
$dateFont: 'Futura';
$contentFont: 'Helvetica-Neue-LT';
$emphasisFont: 'Adobe-Garamond-Pro-Bold';
$italicFont: 'Adobe-Garamond-Pro-Italic';

$navLinkFont: 'Helvetica-Neue-LT';

$header1FontColor: #F3F0ED;
$headerFontColor: #4B4B4B;
$darkBgContentFontColor: #4B4B4B;
$lightBgContentFontColor: #252525;
$navLinkFontColor: #F3F0ED;
$jumbotronFontColor: #F3F0ED;

$header1FontSize: 2.0em;
$header2FontSize: 1.6em;
$header3FontSize: 1.5em;
$header4FontSize: 1em;
$contentFontSize: 1em;
$navLinkFontSize: 1.2em;


$navBg: #252525;
$navActiveBg: #4B4B4B;

$lightContentBgColor: #F3F0ED;

$featuresBg: #252525;
$footerBg: #252525;