

$headerFont: 'Futurist-Fixed-width';
$dateFont: 'Futura';
$contentFont: 'Helvetica-Neue-LT';
$emphasisFont: 'Adobe-Garamond-Pro-Bold';
$italicFont: 'Adobe-Garamond-Pro-Italic';

$headerFontColor: #4B4B4B;
$contentFontColor: #4B4B4B;

$header2FontSize: 1.6em;
$header3FontSize: 1.5em;
$contentFontSize: 1em;