h1{
  font-family: $headerFont;
  color: $header1FontColor;
  font-size: $header1FontSize;
}

h2 {
  font-family: $headerFont;
  color: $headerFontColor;
  font-size: $header2FontSize;
}

h3{
  font-family: $headerFont;
  color: $headerFontColor;
  font-size: $header3FontSize;
}

h4{
  font-family: $headerFont;
  color: $headerFontColor;
  font-size: $header4FontSize;
}

body{
  font-family: $contentFont;
  color: $lightBgContentFontColor;
  font-size: $contentFontSize;
}

time{
  font-family: $dateFont;
  color: $lightBgContentFontColor;
  font-size: $contentFontSize;

}

em{
  font-family: $emphasisFont;
  color: $darkBgContentFontColor;
  font-size: $contentFontSize;
}

i{
  font-family: $italicFont;
  color: $darkBgContentFontColor;
  font-size: $contentFontSize;
}
nav a{
  font-family: $navLinkFont;
  color: $navLinkFontColor;
  font-size: $navLinkFontSize;
}

footer a{
  font-family: $navLinkFont;
  color: $navLinkFontColor;
}